<div class="movie-item card mb-4">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://source.unsplash.com/daily" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="movie-item__title">
          <span>{{MovieItem.filmTitle}}</span>
          <button class="movie-item__delete" (click)="deleteMovie(MovieItem)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </h4>
        {{MovieItem.filmDescription}}
      </div>
    </div>
  </div>
</div>
